version: '3.8'

services:
  flyway-migration-cashew:
    image: flyway/flyway:latest
    container_name: flyway-migration-pistachio
    command: -url=jdbc:postgresql://postgres:5432/shared_db -user=shared_user -password=share migrate
    volumes:
      - ./migrations:/flyway/sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h postgres -p 5432 -U shared_user" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared-network

  pistachio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pistachio-app
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: shared_db
      DB_USER: shared_user
      DB_PASSWORD: share
    ports:
      - "8081:8081"
    networks:
      - shared-network

networks:
  shared-network:
    external: true
